@{
    ViewBag.Title = "Money Remittance";
}

<div class="div-wrapper">
    <h2 class="header">@ViewBag.Message</h2>
</div>
<div class="div-wrapper">
    <span class="subcontent">Homini  inminet cinxit indigestaque egens corpora sponte mentisque pressa mundi animalia fulminibus mortales dicere fecit. </span>
</div>
<div class="div-yellow-box">
    <div>
        <h3 class="header">Our Vision</h3>
        <span class="subcontent">Quin  fontes passim dicere gravitate subsidere nisi peragebant formaeque possedit nondum stagna metusque videre longo. </span>
    </div>
    <div>
        <h3 class="header">Our Mission</h3>
        <span class="subcontent">Aere hunc erat: nubibus sua stagna undae galeae calidis vultus permisit tuti, tuba galeae altae. </span>
    </div>
    <div>
        <h3 class="header">Our Partners</h3>
    </div>
</div>
<div id="div-image-box">
    <img src="~/Content/images/AboutUs.jpg" />
</div>

